* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
    margin-top: -16px;
    margin-bottom: -16px;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}


.cw {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.ce {
    flex: 0 0 25%;
    max-width: 25%;
}

.cr {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.cy {
    flex: 0 0 50%;
    max-width: 50%;
}

.co {
    flex: 0 0 75%;
    max-width: 75%;
}

.cqw {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 740px) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
        margin-top: -8px;
        margin-bottom: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .m-2,
    .me,
    .m-4,
    .my,
    .mo {
        display: block;
    }

    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .me {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .mo {
        flex: 0 0 75%;
        max-width: 75%;
    }

}

@media (min-width: 1113px) {
    .row {
        margin-left: -14px;
        margin-right: -14px;
        margin-top: -7px;
        margin-bottom: -7px;
    }

    .row.gt {
        margin-left: -9px;
        margin-right: -9px;
    }

    .col {
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .row.gt .col {
        padding-left: 9px;
        padding-right: 9px;
    }

    .l-2,
    .le,
    .l-4,
    .ly,
    .lo {
        display: block;
    }

    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .le {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .ly {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .lo {
        flex: 0 0 75%;
        max-width: 75%;
    }

}

@media (min-width: 740px) and (max-width: 1023px) {
    .wide {
        width: 644px;
    }
}

@media (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width: 984px;
    }

    .wide .row {
        margin-left: -18px;
        margin-right: -18px;
        margin-top: -18px;
        margin-bottom: -18px;
    }

    .wide .row.gt {
        margin-left: -5px;
        margin-right: -5px;
        margin-top: -5px;
        margin-bottom: -5px;
    }

    .wide .col {
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .wide .row.gt .col {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .wide .l-2,
    .wide .le,
    .wide .l-4,
    .wide .ly,
    .wide .lo {
        display: block;
    }

    .wide .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .wide .le {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .wide .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .wide .ly {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .wide .lo {
        flex: 0 0 75%;
        max-width: 75%;
    }
}

.btn {
    min-width: 80px;
    height: 36px;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 16px;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    background-color: var(--white-color);

}

@keyframes iconFaceIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modalFaceIn {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.Mta {
    border: 2px solid #857272;
    width: 100%;
    font-size: 14px;
    padding: 10px;
    outline: none;
    box-shadow: 0 0.3px 1px rgba(10, 21, 169, 0.36);
    border-radius: 4px;
}

.icon-update {
    background-color: #fdb973;
    color: #393939;
    border: 2px solid #fdb973;
    border-radius: 4px;
    margin-right: 6px;
}

.appAdmin {
    overflow: hidden;
    max-width: 100%;
}

.header {
    height: 100px;
    background-color: #ecb4b4;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 10px;
    box-shadow: 0 4px 3px rgba(26, 38, 168, 0.3);
}

.header_title {
    font-size: 3rem;
    font-weight: 700;
    display: inline-block;
    white-space: nowrap;
    color: #393939;
}

.header_users {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #393939;
}

.HdUserImg {
    background-image: url(../../../imgs/anhuser.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #7f8081;
    margin: 0 8px;
}

.sidebar_content {
    background-color: #041435;
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
    height: 100vh;
}

.sidebar-list {
    margin: 0;
    list-style: none;
}

.sidebar-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 2px;
    margin-bottom: 1px;
}

.sidebar-item.active {
    background-color: #1e3054;
    transition: all 0.2s ease-in;
}

.sidebar-item .sidebar_link {
    padding: 20px;
    height: 100%;
    width: 100%;
    display: block;
    text-decoration: none;
}

.sidebar_link span {
    margin-right: 5px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #bec3d1;
}

.tablewrapper {
    margin: 40px 30px 0 20px;

}

.table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-head {
    font-size: 2rem;
    font-weight: 700;
    color: #393939;
    display: inline-block;
}

.table-add {
    background-color: #2065e5;
    color: #d5e0f4;
    border-radius: 5px;
    cursor: pointer;
}

thead,
tbody,
tr,
td,
th {
    border-color: #c4c4c4;
    border-style: solid;
    border-width: 1px;
    padding: 12px;
}

.table-body {
    padding: 0 35px 35px 35px;
    margin-top: 50px;
}

.table-inner {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.table-thead {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.6;
    color: #323232;
    text-align: center;
}

.table-td {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 200;
    color: #393939;
}

.btn.icon-btn {
    color: #f33c4f;
    border: 2px solid #6e030d;
    border-radius: 10px;
}

#adnew {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(96, 97, 112, 0.36);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    animation: fadeIn linear 0.4s;
}

.hidden {
    display: none !important;
}

.modal-product {
    background-color: #FFF;
    width: 400px;
    max-width: calc(100% - 16px);
    position: relative;
    border-radius: 5px;
    animation: modalFaceIn ease 0.4s;
}

.modal-content {
    margin: 10px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-head {
    display: block;
    text-align: start;
    font-size: 20px;
    margin: 20px 0;
}

.modal-header ion-icon {
    font-size: 2.5rem;
    font-weight: 500;
    color: #393939;
    padding: 6px;
    position: relative;
    top: -10px;
    right: 10px;
    cursor: pointer;
}

.ctt {
    display: block;
    margin-bottom: 20px;
}

.error-name {
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(236, 60, 60);
}

.modal-label {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: #1a1f23;
    margin-bottom: 6px;
}

.modal-input,
.modal-select {
    border: 0.5px solid #c0b8b8;
    width: 100%;
    padding: 8px;
    font-size: 1.4rem;
    outline: none;
    box-shadow: 0 0.5px 2px rgba(96, 97, 112, 0.36);
    border-radius: 4px;
}

.message-title {
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(236, 60, 60);
}

.modal-btn {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-primary {
    background-color: #999594;
    color: #f1eded;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 10px;
}

.btn-susses {
    background-color: #2065e5;
    color: #d5e0f4;
    border-radius: 5px;
    font-weight: 600;
}

.table-imgs-skill {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    object-fit: contain;
}
